page-login {
    ion-content {
        align-items: center;
        text-align: center;
        .logo {
            border-radius: 50%;
            width: 50%;
            max-width: 12em;
            margin-bottom: 50px;
        }
        .no-border {
            border-bottom: 0;
            box-shadow: none;
            border-radius: 5% !important;
        }
        ion-label {
            padding-left: 5%;
        }
        .login-button {
            width: 100%;
        }
    }
    .toolbar-background {
        background: transparent;
    }
    background-color: #190b4b;
    background-image: url('../assets/imgs/bg.png');
}

.dark-theme,
.light-theme {
    page-login {
        ion-content {
            background: none;
        }
    }
}