.dark-theme {
  ion-content,ion-list,.item {
    background-color: #333333;
    color: #fff;
  }
  
  ion-searchbar{
    .searchbar-input{
      background-color: #333;
      color: white;
    }
    .searchbar-placeholder {
      color: #ccc;
    }
  }

  #menu-material {

    .menu-header {
      padding: 5px 15px;
      background-size: cover;

      .name {
        font-weight: 500;
        margin-bottom: 3px;
      }

      .e-mail {
        margin-top: 0;
        margin-bottom: 5px;
      }
    }

    .user-avatar {
      padding: .5em;
      height: 12vh;
    }

    ion-icon {
      color: #eee;
    }

    ion-content,ion-list,.item{
      background-color: #777;
    }
  }

  h3, .label {
    color: #fff;
    font-weight: 400;
  }

  :host /deep/ .alerta {
    background-color: #333;
    color: white;  
  }
}  